<div class="header-container">
  <div class="header-touch-bar">
    <div class="grey-back">
      <p>Click here for a description of how to use Surf Spot and what it means to be a member.</p> 
      <p class="hidden-sponsor">For information on how to become a larger contributor, contact us here.</p>
    </div>
    <div class="logo-container">
      <div class="header-grid">
        <div class="left-head-col">
           <div class="location-pin"></div>
        </div>
        <div class="middle-head-col">
          <p>Surf-Spot</p>
        </div>
        <div class="weather">Today's forcast:</div>

        <% if !logged_in? %>
         <div class="right-head-col">
            <a href="/sessions/new" class="log_in">LOG IN</a> 
        </div>
        <% end %>

        <% if logged_in? %>
          <div class="right-head-col-spaced">
            <div> Welcome: <%= current_user['first_name'] %> </div>
              <section>
                <form action="/sessions" method="POST">
                  <input type="hidden" name="_method" value="delete">
                  <button id="logOut">Log out</button>
                </form>
              </section>
          </div>
        <% end %>
      </div>
    </div>
    <div class="black-back">
      <p class="catch-phrase">Surf spots rated by the community, for the community!</p>
    </div>
    <div class="links">
      <a href="" class="set-location">SET YOUR LOCATION</a>
      <a href="" class="locations">FIND A SURF SPOT</a>
      <a href="" class="boards">SURFBOARDS</a>
      <a href="/users/new" class="sign-up">SIGN UP</a>
    </div>
  </div>
</div>



<header class="default">

  <div class ="index_header">
    <img class ="index_header" src="https://images.unsplash.com/photo-1516370873344-fb7c61054fa9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80" alt="">
      <div class="top-box">
          <div class="thumbnail-text">Website Created By: Mitchell O'Brien</div>
          <div class="thumbnail-text-2">GA: Software Engineer Student</div>
      </div>
    <div class="bot-box">
          <div class="thumbnail-text-bot">Follow the PROJECT on GitHub <a href="https://github.com/OB-CODE/Surf-spot-SEI-Project-2">HERE</a> </div>
      </div>
  </div>
</header>

<main>
  <div class="control_container">
    <a href="/surf/new">Add New Surf Spot</a>

   

    <div class="right_controls">
    <button>Sort by Top rated</button>
    <button>Sort by Distance</button>
    <button>Log out</button>
    </div>
  </div>

  <section class="controls">
  
  </section>


  <section class="surf_spots">
    <% locations.each do |spot| %>
      <section class="spot">
        <header>
          <h2><%= spot['name'] %></h2>
        
        <section class="each_spot_controls">
          <a href="/surf/<%= spot['id'] %>/edit">Edit</a>
          
          <%# This will be only for ADMIN %>
          <form action="/surf/<%= spot['id'] %>" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button>Delete</button>
          </form>

          <%# this will be for users %>
          <form action="/surf/<%= spot['id'] %>/likes" method="POST">
          <button>Like</button>
          </form>

        </section>

        </header>

        <img src="<%= spot['image_url'] %>" alt="">
        <div>(1 Beginner to 10 Expert) = <%= spot['surf_experience'] %></div>
        <div>Expected Crowd: <%= spot['crowd'] %></div>
        <div>Hazards to watch out for: <%= spot['hazards'] %></div>
        <div>Getting to the beach: <%= spot['access'] %></div>
        <div>You are surfing on: <%= spot['ocean_bottom'] %></div>
      </section>
    <% end %>
  </section>

</main>

