<div class="header-container">
  <div class="header-touch-bar">
    <div class="grey-back">
      <p>Click here for a description of how to use Surf Spot and what it means to be a member.</p> 
      <p class="hidden-sponsor">For information on how to become a larger contributor, contact us here.</p>
    </div>
    <div class="logo-container">
      <div class="header-grid">
        <div class="left-head-col">
           <div class="location-pin"></div>
           <div class='coord'><%= weather['city']['name'] %></div>
        </div>
        <div class="middle-head-col">
          <p>Surf Spot</p>
        </div>

        <% if !logged_in? %>
         <div class="right-head-col">
            <a href="/sessions/new" class="log_in">LOG IN</a> 
        </div>
        <% end %>

        <% if logged_in? %>
          <div class="right-head-col-spaced">
            <div> Welcome: <%= current_user['first_name'] %> </div>
              <section>
                <form action="/sessions" method="POST">
                  <input type="hidden" name="_method" value="delete">
                  <button id="logOut">Log out</button>
                </form>
              </section>
          </div>
        <% end %>
      </div>
    </div>
    <div class="black-back">
      <p class="catch-phrase">Surf spots rated by the community, for the community!</p>
    </div>
    <div class="links">
      <div class="weather">  <section class="weather-API">Temp = <%= weather['list'][0]['main']['temp']%> degrees celsius</section>
      </div>
      <a href="" class="set-location">SET YOUR LOCATION</a>
      <a href="/" class="locations">FIND A SURF SPOT</a>
      <a href="/surf/boards" class="boards">SURFBOARDS</a>
      <a href="/users/new" class="sign-up">SIGN UP</a>
    </div>
  </div>
</div>



<header class="default">

  <div class ="index_header">
    <img class ="index_header" src="<%= spot[0]['image_url'] %>" alt="">
      <div class="top-box">
          <div class="thumbnail-text">Website Created By: Mitchell O'Brien</div>
          <div class="thumbnail-text-2">GA: Software Engineer Student</div>
      </div>
    <div class="bot-box">
          <div class="thumbnail-text-bot">Follow the PROJECT on GitHub <a href="https://github.com/OB-CODE/Surf-spot-SEI-Project-2">HERE</a> </div>
      </div>
  </div>
</header>

<main>
<h1>SURF SPOT: 
  <div><%= spot[0]['name'] %></div>
</h1>


<div class="spot_filler">
  <div class ="spot_wrapper">
    <div><span>Surf experience required for location: (1 Beginner to 10 Expert): </span><%= spot[0]['surf_experience'] %></div>
    <div><span>Average Crowd: </span><%= spot[0]['crowd'] %></div>
    <div><span>Hazards: </span><%= spot[0]['hazards'] %></div>
    <div><span>Access: </span><%= spot[0]['access'] %></div>
    <div><span>You will most likely be surfing on: </span><%= spot[0]['ocean_bottom'] %></div>
  </div>
  <div class="spot_images">
    <img src="https://images.unsplash.com/photo-1625718008796-f580990ec51d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=988&q=80" alt="">
  <img src="https://images.unsplash.com/photo-1619509943800-81ce9ac042e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="">
  </div>
</div>


<div class ="flex_right">
  <span>Weather at: </span><div> <%= spot_weather['city']['name'] %> </div>
</div>

<div><%= spot[0]['latitude'] %></div>

<%# Weather for the CURRENT PAGE SPOT %>


<div class="grid">
  <div>
     <div class="weather-API">Forecast Time = <%= spot_weather['list'][0]['dt_txt']%></div>
      <div class="weather-API">Max Temp = <%= spot_weather['list'][0]['main']['temp_max'] %> degrees celsius</div>
      <div class="weather-API">Min Temp = <%= spot_weather['list'][0]['main']['temp_min'] %> degrees celsius</div>
      <div class="weather-API">Weather type = <%= spot_weather['list'][0]['weather'][0]['main'] %></div>
      <div class="weather-API">Weather detial = <%= spot_weather['list'][0]['weather'][0]['description'] %> </div>
      <div class="weather-API"> Wind speed = <%= spot_weather['list'][0]['wind']['speed'] %> Km/h</div>
  </div>

  <div>
     <div class="weather_API_spot">Forecast Time = <%= spot_weather['list'][1]['dt_txt']%></div>
      <div class="weather_API_spot">Max Temp = <%= spot_weather['list'][1]['main']['temp_max']%> degrees celsius</div>
      <div class="weather_API_spot">Min Temp = <%= spot_weather['list'][1]['main']['temp_min']%> degrees celsius</div>
      <div class="weather_API_spot">Weather type = <%= spot_weather['list'][1]['weather'][0]['main']%></div>
      <div class="weather_API_spot">Weather detial = <%= spot_weather['list'][1]['weather'][0]['description']%> </div>
      <div class="weather-API"> Wind speed = <%= spot_weather['list'][1]['wind']['speed']%> Km/h</div>
  </div>

  <div>
     <div class="weather_API_spot">Forecast Time = <%= spot_weather['list'][3]['dt_txt']%></div>
      <div class="weather_API_spot">Max Temp = <%= spot_weather['list'][3]['main']['temp_max']%> degrees celsius</div>
      <div class="weather_API_spot">Min Temp = <%= spot_weather['list'][3]['main']['temp_min']%> degrees celsius</div>
      <div class="weather_API_spot">Weather type = <%= spot_weather['list'][3]['weather'][0]['main']%></div>
      <div class="weather_API_spot">Weather detial = <%= spot_weather['list'][3]['weather'][0]['description']%> </div>
      <div class="weather-API"> Wind speed = <%= spot_weather['list'][3]['wind']['speed']%> Km/h</div>
  </div>

</div>

</main>



<div class="weather_container">
  <Section class="overlap_weather">
  <h4>CURRENT WEATHER </h4>
    <div class="weather-API">Current Temp = <%= weather['list'][0]['main']['temp']%> degrees celsius</div>
    <div class="weather-API">Feels like Temp = <%= weather['list'][0]['main']['feels_like']%> degrees celsius</div>

    <div>
      <span class="weather-API">Weather type = <%= weather['list'][0]['weather'][0]['main'] %> </span>
      <span class="weather-API"> : <%= weather['list'][0]['weather'][0]['description'] %> </span>
    </div>
      <div class="weather-API"> Current City: <%= weather['city']['name'] %> </div>
  </Section>
</div>