<div class="header-container">
  <div class="header-touch-bar">
    <div class="grey-back">
      <p>Click here for a description of how to use Surf Spot and what it means to be a member.</p> 
      <p class="hidden-sponsor">For information on how to become a larger contributor, contact us here.</p>
    </div>
    <div class="logo-container">
      <div class="header-grid">
        <div class="left-head-col">
           <div class="location-pin"></div>
            <div class='coord'><%= weather['city']['name'] %></div>

        </div>
        <div class="middle-head-col">
          <p>Surf Spot</p>
        </div>

        <% if !logged_in? %>
         <div class="right-head-col">
            <a href="/sessions/new" class="log_in">LOG IN</a> 
        </div>
        <% end %>

        <% if logged_in? %>
          <div class="right-head-col-spaced">
            <div> Welcome: <%= current_user['first_name'] %> </div>
              <section>
                <form action="/sessions" method="POST">
                  <input type="hidden" name="_method" value="delete">
                  <button id="logOut">Log out</button>
                </form>
              </section>
          </div>
        <% end %>
      </div>
    </div>
    <div class="black-back">
      <p class="catch-phrase">Surf spots rated by the community, for the community!</p>
    </div>
    <div class="links">
          <div class="weather">  <section class="weather-API">Temp = <%= weather['list'][0]['main']['temp']%> degrees celsius</section>
      </div>
      <a href="" class="set-location">SET YOUR LOCATION</a>
      <a href="/" class="locations">FIND A SURF SPOT</a>
      <a href="/surf/boards" class="boards">SURFBOARDS</a>
      <a href="/users/new" class="sign-up">SIGN UP</a>
    </div>
  </div>
</div>



<header class="default">

  <div class ="index_header">
    <img class ="index_header" src="https://images.unsplash.com/photo-1499823382510-3990e4b8a04b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80" alt="">
      <div class="top-box">
          <div class="thumbnail-text">Website Created By: Mitchell O'Brien</div>
          <div class="thumbnail-text-2">GA: Software Engineer Student</div>
      </div>
    <div class="bot-box">
          <div class="thumbnail-text-bot">Follow the PROJECT on GitHub <a href="https://github.com/OB-CODE/Surf-spot-SEI-Project-2">HERE</a> </div>
      </div>
  </div>
</header>


<main>

  <div class="sign_up_style">
    <h1>SIGN UP BELOW</h1>

    <form action="/users" method="POST">
    <div>
      <label for="">First Name: </label>
      <input type="text" name="first_name">
    </div>
    <div>
      <label for="">Last Name: </label>
      <input type="text" name="last_name">
    </div>
    <div>
      <label for="">Email:</label>
      <input type="text" name="email">
    </div>
    <div>
      <label for="">Password:</label>
      <input type="password" name="password">
    </div>

    <button>Sign up</button>
    </form>

  </div>


<div class="weather_container">
  <Section class="overlap_weather">
  <h4>CURRENT WEATHER</h4>
    <div class="weather-API">Current Temp = <%= weather['list'][0]['main']['temp']%> degrees celsius</div>
    <div class="weather-API">Feels like Temp = <%= weather['list'][0]['main']['feels_like']%> degrees celsius</div>

    <div>
      <span class="weather-API">Weather type = <%= weather['list'][0]['weather'][0]['main'] %> </span>
      <span class="weather-API"> : <%= weather['list'][0]['weather'][0]['description'] %> </span>
    </div>
      <div class="weather-API"> Current coordinates: <%= weather['city']['coord'] %> </div>
  </Section>
</div>

  <div class="triple_img">
    <img src="https://images.unsplash.com/photo-1523606772308-64a28db0ef2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364&q=80" alt="">
    <img src="https://images.unsplash.com/photo-1510343100762-48b7bc609c62?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="">
    <img src="https://images.unsplash.com/photo-1569340444999-e24594d75869?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="">
  </div>


</main>